* {
  margin: 0px;
  padding: 0px; }

body, html {
  height: 100%;
  background-color: #e7f0ff; }

/* Header css*/
header {
  height: 40px;
  width: 100%;
  background-image: url(images/overlay2.png), url(images/overlay3.svg), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  font-size: 21px;
  line-height: 40px; }

.logo {
  margin-left: 5%;
  float: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 40px; }

.profile {
  float: right;
  margin-right: 5%;
  background-color: #C4C4C4;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center; }

/*Content*/
main {
  width: 100%;
  position: relative;
  min-height: calc(100% - 40px); }

nav {
  padding-top: 20px; }

ul {
  list-style-type: none; }

a {
  color: #000 !important;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

li {
  background-color: #C3CCDC;
  height: 30px;
  max-width: 190px;
  min-width: 130px;
  border-radius: 10px;
  border: 1px solid #8197BE;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; }

li:hover {
  background-image: url(images/overlay2.png), url(images/overlay3.svg), linear-gradient(135deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top right, center center, center center;
  cursor: pointer; }

.desktop {
  width: 100%;
  background: #C4C4C4;
  border-top: 19px solid rgba(179, 132, 42, 0.62);
  border-right: 19px solid rgba(179, 132, 42, 0.62);
  border-left: 19px solid rgba(179, 132, 42, 0.62);
  box-sizing: border-box;
  border-radius: 9px 9px 0px 0px; }

.create {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid black 4px;
  position: fixed;
  bottom: 3%;
  right: 8%; }

.note {
  width: 250px; }

.card-header {
  background-color: #C1C357; }

.card-body {
  background-color: #EAEC82; }
